$black: #28282B !default;
$gray: #6f7373 !default;
$gray-light: #AEAEAE !default;
$white: #ffffff !default;
$green: #14F88B !default;

$link-hover: #9f9f9f !default;
$pagination-hover: #f5f6f6 !default;
